<div>
	<div class="container mx-auto">
		<div class="mx-auto max-w-[1200px] p-6">
            <div class="mb-5 text-[3rem] text-center">
                <span>My Hobbies</span>
            </div>

			<div class=" flex flex-wrap gap-3 justify-center">
                @for (item of hobbies; track $index) {
                    <!-- project name -->
                    <div class="">
                        <div class="md:text-2xl font-bold tracking-tight text-white uppercase">
                            <app-svg [name]="item.icon" classes="w-10 h-10 {{item.color}} mx-auto"></app-svg>
                        </div>

                        <div class="text-[1.1rem]">
                            {{item.name}}
                        </div>
                    </div>
                }
            </div>
		</div>
	</div>
</div>
