<footer>
	<div class="footer container-fluid ">
		<canvas #myCanvas></canvas>

        <div class="content">

            <div class="contact">
                <div class="section">
                    <div class="section-header">Contact</div>
    
                    <div class="section-item">
                        <div class="contact-item">
                            <span class="title">Email: </span>
                            <span class="info">hvtinc12htk2020&#64;gmail.com</span>
                        </div>
                    </div>
                </div>
    
                <div class="section">
                    <div class="section-header">Site map</div>
    
                    <div class="section-item">
                        <div class="contact-item">
                            <a href="#" class="info">Home</a>
                        </div>
                        <div class="contact-item">
                            <a href="#" class="info">CV</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="copyright">
                <span>&copy; </span><span>Ho Vinh Tin</span>
            </div>


        </div>


		
	</div>
</footer>
