<div id="sticky-nav" class="bg-stone-950 z-10">
	<div class="sm:container mx-auto">
		<div class="flex items-center justify-between p-3 sm:py-6">
			<div class="flex items-center justify-start gap-2">
				<div class="rounded-full border boder-white py-1 px-3">
					<span class="text-[1.3rem] uppercase">ho vinh tin</span>
				</div>

				<div
					class="hidden w-full md:block md:w-auto border boder-white rounded-full py-1 px-3"
				>
					<ul class="font-medium flex flex-col p-0 flex-row gap-5 mt-0">
						@for (item of items; track $index) {
						<li class="">
							<a
								[routerLink]="item.url"
								(click)="onChangeRoute(item)"
								routerLinkActive="active"
								class="block bg-blue-700 rounded-sm hover:text-green-600 bg-transparent"
								aria-current="page"
								>{{ item.name }}</a
							>
						</li>
						}
					</ul>
				</div>
			</div>

			<div class="hidden md:block">
				<div
					class="border border-white rounded-full flex items-center justify-between gap-2 w-[150px] text-center px-3"
				>
					<app-svg [name]="activatedItem.icon" classes="w-6 h-6" fill="white" stroke="white"></app-svg>
					<span class="text-center select-none">{{ activatedItem.name }}</span>
					<span></span>
				</div>
			</div>

			<div class="block md:hidden">
				<div
					(click)="onShowSideBar()"
					class="cursor-pointer border border-white rounded-full flex items-center justify-between gap-2 w-[150px] text-center px-3"
				>
					<app-svg [name]="activatedItem.icon" classes="w-6 h-6" fill="white" stroke="white"></app-svg>
					<span class="text-center select-none">{{ activatedItem.name }}</span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fixed top-0 left-o block md:hidden z-20">
	<aside
		id="default-sidebar"
		class="fixed top-0 left-0 z-40 w-screen h-screen transition-transform duration-500"
		[ngClass]="{
			'-translate-x-full': showSideBar === false,
			'-translate-x-0': showSideBar === true
		}"
		aria-label="Sidebar"
	>
		<div class="h-full flex">
			<div class="w-64 h-full px-3 py-4 overflow-y-auto bg-zinc-900">
				<ul class="space-y-2 font-medium">
					@for (item of items; track $index) {
					<li>
						<a
							[routerLink]="item.url"
							(click)="onChangeRoute(item)"
							routerLinkActive="active"
							class="flex items-center p-2 rounded-lg hover:bg-gray-100 hover:text-zinc-900 group"
						>
							<app-svg [name]="item.icon" classes="w-6 h-6" fill="green" stroke="green"></app-svg>

							<span class="flex-1 ms-3 whitespace-nowrap">{{ item.name }}</span>
						</a>
					</li>
					}
				</ul>
			</div>

			<div class="flex-1" (click)="onShowSideBar(false)"></div>
		</div>
	</aside>
</div>
