<header>
	<div class="header" appHeaderScroll>
		<div class="name">
			<span>Ho Vinh Tin</span>
		</div>

		<ul class="menu">
			<li class="menu-item"><a href="#">Home</a></li>
			<li class="menu-item">
				<a href="https://www.topcv.vn/xem-cv/WwAEB1FRBlIFBQ5cVlVXCwZQCldUUAlcBFtRUgb29e"
					>CV</a
				>
			</li>
		</ul>
	</div>

	<div class="header-collapse" appHeaderCollapseScroll>
		<div class="show-btn">
			<button (click)="showMenu()">
				<img width="20" src="{{ path }}/icons/bars-solid.svg" alt="" />
			</button>

			<span class="text-white">Ho Vinh Tin</span>
		</div>

		<div
			class="menu-collapse"
			[ngClass]="{
				'hide-menu-collapse': isShowedMenu === false,
				'show-menu-collapse': isShowedMenu === true
			}"
		>
			<div class="btn"><button (click)="showMenu()">X</button></div>
			<div class="name">Ho Vinh Tin</div>

			<ul class="menu">
				<li class="menu-item"><a href="#">Home</a></li>
				<li class="menu-item">
					<a href="https://www.topcv.vn/xem-cv/WwAEB1FRBlIFBQ5cVlVXCwZQCldUUAlcBFtRUgb29e"
						>CV</a
					>
				</li>
			</ul>
		</div>
	</div>
</header>
