<div>
	<div class="sm:container mx-auto">
		<div class="flex items-center justify-between p-3 sm:py-6">
			<div class="flex items-center justify-start gap-2">
				<div class="rounded-full border boder-white py-1 px-3">
					<span class="text-[1.3rem] uppercase">ho vinh tin</span>
				</div>

				<div
					class="hidden w-full md:block md:w-auto border boder-white rounded-full py-1 px-3"
				>
					<ul class="font-medium flex flex-col p-0 flex-row space-x-8 mt-0">
						@for (item of items; track $index) {
						<li>
							<a
								href="#"
								class="block bg-blue-700 rounded-sm md:bg-transparent"
								aria-current="page"
								>{{ item.name }}</a
							>
						</li>
						}
					</ul>
				</div>
			</div>

			<div class="hidden md:block">
				<div
					class="border border-white rounded-full flex items-center justify-between gap-2 w-[150px] text-center px-3"
				>
					<svg
						width="25"
						height="24"
						viewBox="0 0 25 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M13.85 3.70391C13.05 3.10391 11.95 3.10391 11.15 3.70391L4.65 8.57891C4.08344 9.00383 3.75 9.6707 3.75 10.3789V18.5003C3.75 19.743 4.75736 20.7503 6 20.7503H10.25C10.6642 20.7503 11 20.4145 11 20.0003V17.0003C11 16.1719 11.6716 15.5003 12.5 15.5003C13.3284 15.5003 14 16.1719 14 17.0003V20.0003C14 20.4145 14.3358 20.7503 14.75 20.7503H19C20.2426 20.7503 21.25 19.743 21.25 18.5003V10.3789C21.25 9.6707 20.9166 9.00383 20.35 8.57891L13.85 3.70391Z"
							fill="#fff"
						/>
					</svg>

					<span class="text-center">Home</span>
					<span></span>
				</div>
			</div>

			<div class="block md:hidden">
				<div
					(click)="onShowSideBar()"
					class="cursor-pointer border border-white rounded-full flex items-center justify-between gap-2 w-[150px] text-center px-3"
				>
					<svg
						width="25"
						height="24"
						viewBox="0 0 25 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M13.85 3.70391C13.05 3.10391 11.95 3.10391 11.15 3.70391L4.65 8.57891C4.08344 9.00383 3.75 9.6707 3.75 10.3789V18.5003C3.75 19.743 4.75736 20.7503 6 20.7503H10.25C10.6642 20.7503 11 20.4145 11 20.0003V17.0003C11 16.1719 11.6716 15.5003 12.5 15.5003C13.3284 15.5003 14 16.1719 14 17.0003V20.0003C14 20.4145 14.3358 20.7503 14.75 20.7503H19C20.2426 20.7503 21.25 19.743 21.25 18.5003V10.3789C21.25 9.6707 20.9166 9.00383 20.35 8.57891L13.85 3.70391Z"
							fill="#fff"
						/>
					</svg>

					<span class="text-center">Home</span>
					<span></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="fixed top-0 left-o block md:hidden">
	<aside
		id="default-sidebar"
		class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform"
		[ngClass]="{
			'-translate-x-full': showSideBar === true,
			'translate-x-0': showSideBar === false
		}"
		aria-label="Sidebar"
	>
		<div class="h-full px-3 py-4 overflow-y-auto bg-zinc-900">
			<ul class="space-y-2 font-medium">
				@for (item of items; track $index) {
				<li>
					<a
						href="#"
						class="flex items-center p-2 rounded-lg hover:bg-gray-100 hover:text-zinc-900 group"
					>
						<img [src]="item.icon" class="w-5 h-5" alt="" />

						<span class="flex-1 ms-3 whitespace-nowrap">{{ item.name }}</span>
					</a>
				</li>
				}
			</ul>
		</div>
	</aside>
</div>
