<div class="wrapper">
	<!-- Skills -->
	<div
		id="skills"
		class="rounded-md h-full max-w-full"
	>
		<div class="p-3 border-b">
			<h2 class="font-bold text-2xl"><span class="text-[#15803d]">S</span>kills</h2>
		</div>

		<div class="overflow-y-auto h-full p-3">
			<div class="mb-3">
				<h1 class="font-bold text-xl">ADVANCED SKILLS</h1>
				<ul>
					<li>• Proficient in C# programming language and OOP.</li>
					<li>• Proficient in .NET Core API, and .NET Core MVC.</li>
					<li>• Good use of LINQ, Entity Framework.</li>
					<li>• Works well with SQL Server.</li>
					<li>• Proficient in Github.</li>
					<li>• Good use of Docker.</li>
					<li>• Can use JavaScript programming language.</li>
					<li>
						• Experience working with HTML, CSS, Angular, Bootstrap, and Tailwind CSS.
					</li>
					<li>• Create desktop app with WPF.</li>
					<li>• Can use basic RabitMQ.</li>
				</ul>
			</div>

			<div>
				<h1 class="font-bold text-xl">SOFT SKILLS</h1>
				<ul>
					<li>• Communicate well.</li>
					<li>• Read and understand English documents well.</li>
					<li>• Good teamwork.</li>
					<li>• Effective problem-solving and research abilities.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
