<div>
	<div class="container mx-auto">
		<div class="mx-auto max-w-[1200px] p-6">
			<div class="mb-5 md:mb-10">
				<div class="mb-5 text-[2.5rem] md:text-[3rem] text-center">
					<span>Skilled In</span>
				</div>

				<div class="flex flex-wrap gap-3 justify-center">
					@for (item of skilledIn; track $index) {
					<!-- project name -->
					<div class="p-6 border border-gray-200 rounded-lg shadow-sm mb-3 ex-item">
						<!-- project name -->
						<div class="">
							<h5
								class="text-[1.4rem] md:text-2xl lg:text-3xl xl:text-4xl font-bold tracking-tight text-white uppercase"
							>
								{{ item.title }}
							</h5>
						</div>

						<!-- position -->
						<div class="md:text-[1.3rem] mb-3">
							<div>
								<span class="text-green-600">{{ item.position }}</span>
							</div>
						</div>

						<!-- tech stack -->
						<div class="mb-3">
							<div>
								<span class="text-[1.8rem] md:text-[2rem]">Tech stack</span>
							</div>

							<div class="flex flex-wrap gap-3">
								@for (icon of item.techStackIcons; track $index) {
								<app-svg [name]="icon.icon" [classes]="'w-10 h-10'"></app-svg>
								}
							</div>
						</div>

						<!-- Main Task -->
						<div class="mb-3">
							<div>
								<span class="text-[1.8rem] md:text-[2rem]">Main Task</span>
							</div>

							<div
								class="text-[1.1rem] xl:text-[1.3rem] grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-5"
							>
								@for (task of item.mainTasks; track $index) {
								<p>
									{{ task }}
								</p>
								}
							</div>
						</div>
					</div>
					}
				</div>
			</div>

			<div class="p-6 border border-gray-200 rounded-lg shadow-sm mb-3 ex-item">
				<div class="mb-5 text-[2.5rem] md:text-[3rem] text-center">
					<span>Knowledge Of</span>
				</div>

				<!-- tech stack -->
				<div class="flex flex-wrap gap-3 justify-center">
					@for (item of knowledgeOf; track $index) {
					<!-- project name -->
					<div class="">
						<div class="md:text-2xl font-bold tracking-tight text-white uppercase">
							<app-svg
								[name]="item.icon"
								classes="w-10 h-10 {{ item.color }} mx-auto"
							></app-svg>
						</div>

						<div class="text-[1.1rem] text-center">
							{{ item.name }}
						</div>
					</div>
					}
				</div>
			</div>

			<div class="p-6 border border-gray-200 rounded-lg shadow-sm mb-3 ex-item">
				<div class="mb-5 text-[2.5rem] md:text-[3rem] text-center">
					<span>Tools</span>
				</div>

				<div class="flex flex-wrap gap-3 justify-center">
					@for (item of tools; track $index) {
					<!-- project name -->
					<div class="">
						<div class="md:text-2xl font-bold tracking-tight text-white uppercase">
							<app-svg
								[name]="item.icon"
								classes="w-10 h-10 {{ item.color }} mx-auto"
							></app-svg>
						</div>

						<div class="text-[1.1rem] text-center">
							{{ item.name }}
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
