<div class="wrapper p-2">
	<div class="container mx-auto">
		<div class="py-1 sm:py-2 md:py-4 text-center">
			<h1 class="text-sm sm:text-xl md:text-3xl font-bold">
				WEBSITE SUPPORTS SEARCH FOR ADOPTING PETS
			</h1>
		</div>

		<!-- intro -->
		<div class="mb-3 text-[0.8rem] md:text-lg">
			<h3 class="font-bold">Position: <span>BACK-END .NET</span></h3>
			<a class="text-blue-600" href="https://github.com/VinhTin-AQUA/AdoptPet">Github</a>
			<h3>My team size: 3</h3>

			<div>
				<h3>
					Technology description:
					<span class="font-medium">.NET Core API, HTML, CSS, Angular, Tailwind CSS, SQL Server</span>
				</h3>
			</div>

			<div>
				<h3 class="font-medium">My position in project</h3>
				<ul>
					<li>▶️ Analyze and design databases.</li>
					<li>▶️ Programming and designing APIs for functions</li>
					<li>▶️ Collaborate with the team to analyze project requirements.</li>
				</ul>
			</div>
		</div>

        <!-- feature -->
		<div class="mb-3 text-[0.8rem] md:text-lg">
			<h3 class="font-bold">Features</h3>
			
			<div>
				<h3 class="font-medium">My position in project</h3>
				<ul>
					<li>▶️ Build Login, Register, Confirm by email, Reset password.</li>
					<li>▶️ Use Identity for user administration.</li>
					<li>▶️ Use Entity framework to work with database and build CRUD.</li>
					<li>▶️ Use Sql server to store data.</li>
                    <li>▶️ Use dependecy injection and Repository pattern.</li>
                    <li></li>
				</ul>
			</div>
		</div>


		<!-- UI -->
		<div>
			<h3 class="text-sm md:text-xl font-bold">User Interface</h3>

			<div class="images">
				<figure class="mb-7">
					<img class="rounded-lg" src="/assets/adopt_pet/Picture.png" alt="login" />
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						Login
					</figcaption>
				</figure>

				<figure class="mb-7">
					<img class="rounded-lg" src="/assets/adopt_pet/Picture_2.png" alt="register" />
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						Register
					</figcaption>
				</figure>

				<figure class="mb-7">
					<img class="rounded-lg" src="/assets/adopt_pet/Picture_3.png" alt="pet map" />
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						Pet Map
					</figcaption>
				</figure>

				<figure class="mb-7">
					<img class="rounded-lg" src="/assets/adopt_pet/Picture_4.png" alt="adopt" />
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						Adopt
					</figcaption>
				</figure>

				<figure class="mb-7">
					<img
						class="rounded-lg"
						src="/assets/adopt_pet/Picture_5.png"
						alt="user manager"
					/>
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						User Manager
					</figcaption>
				</figure>

				<figure class="mb-7">
					<img
						class="rounded-lg"
						src="/assets/adopt_pet/Picture_7.png"
						alt="role manager"
					/>
					<figcaption class="mt-2 text-sm md:text-xl text-center text-gray-900">
						Role Manager
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
