<div class="wrapper h-full max-w-full">
	<!-- projects -->
	<div class="rounded-md bg-white px-3">
		<div class="py-3 border-b">
			<h2 class="font-bold text-2xl"><span class="text-[#15803d]">P</span>rojects</h2>
		</div>

		<div class="overflow-auto h-full">
			<div class="project-item">
				<h1 class="font-bold">PET ADOPTION</h1>
				<h2 class="font-medium">Position: Back-end .NET</h2>
				<h3>Technology description: .NET Core API, HTML, CSS, Angular, Tailwind CSS</h3>
				<h3 class="font-bold">My position in project</h3>
				<ul class="lis">
					<li>• Analyze and design databases.</li>
					<li>• Programming and designing APIs for functions</li>
					<li>• Collaborate with the team to analyze project requirements.</li>
				</ul>
				<a
					target="_blank"
					class="text-[#0a66c2]"
					href="https://github.com/VinhTin-AQUA/AdoptPet"
				>
					Github
				</a>
				<a target="_blank" class="text-[#0a66c2]" routerLink="/project/adopt-pet">
					Details
				</a>
			</div>
		
			<div class="project-item">
				<h1 class="font-bold">BOOKING</h1>
				<h2 class="font-medium">Position: Back-end .NET</h2>
				<h3>Technology description: .NET Core MVC, HTML, CSS, JS</h3>
				<h3 class="font-bold">My position in project</h3>
				<ul class="lis">
					<li>• Analyze and design databases.</li>
					<li>• Programming and designing APIs for functions</li>
					<li>• Collaborate with the team to analyze project requirements.</li>
				</ul>
				<a
					target="_blank"
					class="text-[#0a66c2]"
					href="https://github.com/VinhTin-AQUA/Booking_Du_lich_HocKy5"
				>
					Github
				</a>
				<a target="_blank" class="text-[#0a66c2]" routerLink="/project/booking">
					Details
				</a>
			</div>
		</div>
	</div>
</div>
