/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

html,
body {
	height: 100%;
}

// html {
// 	cursor: url('/cursors/cursor_1.png'), auto;
// }

// button:hover,
// a:hover,
// input:hover,
// select:hover {
// 	cursor: url('/cursors/cursor_2.png'), auto;
// }

// button:active,
// a:active,
// input:active,
// select:active {
// 	cursor: url('/cursors/cursor_2.png'), auto;
// }

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;

	font-family: 'Bodoni MT';
	background-color: oklch(0.141 0.005 285.823);
	color: white;
}
