<div class="wrapper">
	<div class="container-fluid">
		<!-- canvas -->
		<div class="intro">
			<canvas #myCanvas></canvas>

			<div class="information">
				<img src="{{ path }}/replicate-prediction-sobacvbbayr3f45kytxnvky4wy.png" alt="" />

				<div class="desctiption">
					<p class="name">Ho Vinh Tin</p>
					<p class="works">Student</p>
				</div>

				<div class="social">
					<a title="VinhTin-AQUA" href="https://github.com/VinhTin-AQUA">
						<img src="{{ path }}/icons/github.svg" alt="" />
					</a>

					<a href="https://www.linkedin.com/in/h%E1%BB%93-v%C4%A9nh-t%C3%ADn-0790572a6/">
						<img src="{{ path }}/icons/linkedin.svg" alt="" />
					</a>

					<a title="@TinooT" href="https://www.youtube.com/@TinooT">
						<img src="{{ path }}/icons/youtube.svg" alt="" />
					</a>
				</div>
			</div>
		</div>

		<div class="about container mx-auto">
			<p id="title"><b>Hello. I'm Ho Vinh Tin!</b></p>
			<p id="">I come from Viet Nam.</p>
			<p id="">
				I like programming, as well as running, photography, and learning new things.
			</p>
			<p id="">Sometimes I like looking at the scenery alone.</p>
			<p id=""><b>And I want to become a software engineer.</b></p>
		</div>

		<section class="text-gray-600 body-font">
			<div class="container px-5 py-16 mx-auto">
				<div class="flex flex-col text-center w-full mb-10">
					<h1 class="text-2xl font-medium text-gray-900">My Projects</h1>
				</div>

				<div class="projects">
					@for (item of projects; track $index) {
					<div class="project-item">
						<div class="h-full flex flex-col items-center text-center">
							<img
								alt="team"
								class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4"
								src="{{item.image}}"
							/>
							<div class="w-full">
								<h2 class="title-font font-medium text-lg text-gray-900">
									{{item.name}}
								</h2>
								<h3 class="text-gray-500 mb-3">{{item.type}}</h3>
								<p class="mb-4">
									{{item.description}}
								</p>
								<span class="inline-flex">
									<a href="{{item.link}}" class="text-gray-500">
										<img
											class="source-link"
											src="/assets/icons/github.svg"
											alt=""
										/>
									</a>
								</span>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</section>
	</div>
</div>
